<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 식별자라서 여러 개의 mapper를 만들었을 때 구별하기 위해 유니크 해야 함 -->
<mapper namespace="kr.spring.accomList.dao.AccomListMapper">
	<select id="selectAccomlist" parameterType="map"
		resultType="AccomListCommand">									
      	SELECT
      			*
      from accom b
               left outer join accom_room r
                on b.acc_num = r.ro_acc_num
                left outer join reservation c
                on b.acc_num = c.acc_num
                left outer join accom_image i
                on b.acc_num = i.im_ac_num  
                left outer join member_auth m
                on b.acc_num = m.member_num
                left outer join accom_grade g
                on b.acc_num = g.ag_acc_num
 				left outer join accom_service s
                on b.acc_num = s.se_acc_num                 
         WHERE
           		r.ro_sub = #{searchtype}
		 <if test="search !=''">
           		AND b.acc_address1 LIKE '%' || #{search} || '%'
        </if>
         <if test="search !=''">
           		AND r.ro_pe_count >= #{people_count}
        </if>
         <if test="search !=''">
         
       		   AND b.acc_num NOT IN(SELECT acc_num 
          				FROM reservation 
				 				
				 <![CDATA[
				 		where TO_DATE(rv_end_date,'yy/mm/dd') >= #{check_in} 
						AND TO_DATE(rv_start_date,'yy/mm/dd') <= #{check_out}
					]]> 
				 		)
        </if>
	</select>
	
	<select id="selectAccomListCount" parameterType="map"
		resultType="integer">		
		SELECT COUNT(*) FROM (							
      	SELECT
      			*  
      from accom b
                left outer join accom_room r
                on b.acc_num = r.ro_acc_num
                left outer join reservation c
                on b.acc_num = c.acc_num
                left outer join accom_image i
                on b.acc_num = i.im_ac_num                  
         WHERE
           		r.ro_sub = #{searchtype}
		 <if test="search !=''">
           		AND b.acc_address1 LIKE '%' || #{search} || '%'
        </if>
         <if test="search !=''">
           		AND r.ro_pe_count >= #{people_count}
        </if>
         <if test="search !=''">
         
       		   AND b.acc_num NOT IN(SELECT acc_num 
          				FROM reservation 
				 				
				 <![CDATA[
				 		where TO_DATE(rv_end_date,'yy/mm/dd') >= #{check_in}  AND 
				 		TO_DATE(rv_start_date,'yy/mm/dd') <= #{check_out}
					]]> 
				 		))a
        </if>
	</select>
	
		<select id="selectAccomTotallist" parameterType="map"
		resultType="AccomListCommand">									
      	SELECT
      			*
      from accom b
                left outer join accom_room r
                on b.acc_num = r.ro_acc_num
                left outer join reservation c
                on b.acc_num = c.acc_num
                left outer join accom_image i
                on b.acc_num = i.im_ac_num  
                left outer join member_auth m
                on b.acc_num = m.member_num
                left outer join accom_grade g
                on b.acc_num = g.ag_acc_num
 				left outer join accom_service s
                on b.acc_num = s.se_acc_num                
                                              
         WHERE
           		r.ro_sub = #{searchtype}
		 <if test="search !=''">
           		AND b.acc_address1 LIKE '%' || #{search} || '%'
        </if>
         <if test="search !=''">
           		AND r.ro_pe_count >= #{people_count}
        </if>
         <if test="search !=''">
         
       		   AND b.acc_num NOT IN(SELECT acc_num 
          				FROM reservation 
				 				
				 <![CDATA[
				 		where TO_DATE(rv_end_date,'yyyy/mm/dd') >= #{check_in} 
						AND TO_DATE(rv_start_date,'yyyy/mm/dd') <= #{check_out}
					]]> 
				 		)
        </if>
 	<!-- 	 <if test="se_name !=''">
 			<foreach collection="arr" item="arr"  open="(" close=")" separator=",">
          		
         	AND s.se_name LIKE '%' || #{arr} || '%'
			</foreach>
         		
        </if> -->
        <!-- <if test="호텔성급 !=''">
         
			AND accom_grade = #{호텔성급}		
        </if>  -->        
        ORDER BY
         <if test="price == 'DESC' ">
		  	 r.ro_price DESC,		
        </if>    
        <if test="price == 'ASC' ">
		  	 r.ro_price ASC,
        </if> 
       
        <if test="avg == 'DESC'">
      		g.ag_grade  DESC,
        </if> 
        <if test="test == 'DESC'">
      		m.member_auth DESC,
        </if>    
       		m.member_auth DESC
      
	</select>
		
</mapper>
