<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 식별자라서 여러 개의 mapper를 만들었을 때 구별하기 위해 유니크 해야 함 -->
<mapper namespace="kr.spring.accomList.dao.AccomListMapper">
	<select id="selectAccomlist" parameterType="map"
		resultType="AccomListCommand">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * from accom b
        left outer join(SELECT min(ro_price) as ro_price,ro_sub,ro_acc_num FROM accom_room r 
         <![CDATA[
        WHERE ro_num NOT IN (SELECT ro_num
			FROM reservation c
				 		WHERE TO_DATE(c.rv_end_date,'yyyy/mm/dd') >= #{check_in}
						AND TO_DATE(c.rv_start_date,'yyyy/mm/dd') <= #{check_out}
			   )
					]]>
		group by ro_acc_num,ro_sub)r					
		on b.acc_num = r.ro_acc_num
		left outer join member_auth m on b.ACC_HOST
		=m.MEMBER_EMAIL
		left outer join accom_grade g on b.acc_host= g.ag_email
		left outer
		join accom_service s on b.acc_num = s.se_acc_num
		WHERE ro_sub = #{searchtype}
		<if test="search !=''">
			AND b.acc_address1 || b.acc_name LIKE '%' || #{search} ||'%'
		</if>

		<if test="search !=''">
			AND b.acc_num in(SELECT ro_acc_num FROM accom_room WHERE
			ro_pe_count >=#{people_count})
		</if>
		ORDER BY m.member_auth DESC )a)
       		 <![CDATA[
       		 WHERE rnum >= #{start} AND rnum <= #{end}
       		 	]]>
		
	</select>

	<select id="selectAccomListCount" parameterType="map"
		resultType="integer">
		SELECT COUNT(*) FROM (
		SELECT * from accom b
        left outer join(SELECT min(ro_price) as ro_price,ro_sub,ro_acc_num FROM accom_room r 
         <![CDATA[
        WHERE ro_num NOT IN (SELECT ro_num
			FROM reservation c
				 		WHERE TO_DATE(c.rv_end_date,'yyyy/mm/dd') >= #{check_in}
						AND TO_DATE(c.rv_start_date,'yyyy/mm/dd') <= #{check_out}
			   )
					]]>
		group by ro_acc_num,ro_sub)r					
		on b.acc_num = r.ro_acc_num
		left outer join member_auth m on b.ACC_HOST
		=m.MEMBER_EMAIL
		left outer join accom_grade g on b.acc_host= g.ag_email
		left outer
		join accom_service s on b.acc_num = s.se_acc_num
		WHERE ro_sub = #{searchtype}
		<if test="search !=''">
			AND b.acc_address1 || b.acc_name LIKE '%' || #{search} ||'%'
		</if>
		<if test="search !=''">
			AND b.acc_num in(SELECT ro_acc_num FROM accom_room WHERE ro_pe_count >=#{people_count})
		</if>
		)a
	</select>

	<select id="selectAccomTotallist" parameterType="map"
		resultType="AccomListCommand">
		SELECT * FROM (SELECT a.*, rownum rnum FROM
		(SELECT * from accom b
        left outer join(SELECT min(ro_price) as ro_price,ro_sub,ro_acc_num FROM accom_room r 
         <![CDATA[
        WHERE ro_num NOT IN (SELECT ro_num
			FROM reservation c
				 		WHERE TO_DATE(c.rv_end_date,'yyyy/mm/dd') >= #{check_in}
						AND TO_DATE(c.rv_start_date,'yyyy/mm/dd') <= #{check_out}
			   )
					]]>
		group by ro_acc_num,ro_sub)r					
		on b.acc_num = r.ro_acc_num
		left outer join member_auth m on b.ACC_HOST
		=m.MEMBER_EMAIL
		left outer join accom_grade g on b.acc_host= g.ag_email
		left outer
		join accom_service s on b.acc_num = s.se_acc_num

		WHERE ro_sub = #{searchtype}
		<if test="search !=''">
			AND b.acc_address1 || b.acc_name LIKE '%' || #{search} ||
			'%'
		</if>
		<if test="search !=''">
			AND b.acc_num in(SELECT ro_acc_num FROM accom_room WHERE
			ro_pe_count >=#{people_count})
		</if>
		<if test="se_name !=''">
			<foreach collection="checklist" item="type">
				AND s.se_name LIKE '%'|| #{type,jdbcType=VARCHAR} || '%'
			</foreach>
		</if>
		<if test="hotel_grade !=''">
			AND b.acc_grade LIKE '%' || #{hotel_grade} || '%'
		</if>

		<!-- <if test="호텔성급 !=''"> AND accom_grade = #{호텔성급} </if> -->
		ORDER BY
		<if test="price == 'DESC' ">
			r.ro_price DESC,
		</if>
		<if test="price == 'ASC' ">
			r.ro_price ASC,
		</if>

		<if test="avg == 'DESC'">
			g.ag_grade DESC,
		</if>
		<if test="test == 'DESC'">
			m.member_auth DESC,
		</if>
		m.member_auth DESC
		)a)
       		 <![CDATA[
       		 WHERE rnum >= #{start} AND rnum <= #{end}
       		 	]]>
	</select>

	<select id="selectAccomTotallistCount" parameterType="map"
		resultType="integer">
		SELECT COUNT(*) FROM (
		SELECT * from accom b
        left outer join(SELECT min(ro_price) as ro_price,ro_sub,ro_acc_num FROM accom_room r 
         <![CDATA[
        WHERE ro_num NOT IN (SELECT ro_num
			FROM reservation c
				 		WHERE TO_DATE(c.rv_end_date,'yyyy/mm/dd') >= #{check_in}
						AND TO_DATE(c.rv_start_date,'yyyy/mm/dd') <= #{check_out}
			   )
					]]>
		group by ro_acc_num,ro_sub)r					
		on b.acc_num = r.ro_acc_num
		left outer join member_auth m on b.ACC_HOST
		=m.MEMBER_EMAIL
		left outer join accom_grade g on b.acc_host= g.ag_email
		left outer
		join accom_service s on b.acc_num = s.se_acc_num
		WHERE ro_sub = #{searchtype}
		<if test="search !=''">
			AND b.acc_address1 || b.acc_name LIKE '%' || #{search} || '%'
		</if>
		<if test="search !=''">
			AND b.acc_num in(SELECT ro_acc_num FROM accom_room WHERE
			ro_pe_count >=#{people_count})
		</if>
		<if test="se_name !=''">
			<foreach collection="checklist" item="type">
				AND s.se_name LIKE '%'|| #{type,jdbcType=VARCHAR} || '%'
			</foreach>
		</if>
		<if test="hotel_grade !=''">
			AND b.acc_grade LIKE '%' || #{hotel_grade} || '%'
		</if>
		)a
		<!-- <if test="호텔성급 !=''"> AND accom_grade = #{호텔성급} </if> -->
		ORDER BY
		<if test="price == 'DESC' ">
			ro_price DESC,
		</if>
		<if test="price == 'ASC' ">
			ro_price ASC,
		</if>

		<if test="price == 'avg_DESC'">
			ag_grade DESC,
		</if>
		<if test="price == 'test_DESC'">
			member_auth DESC,
		</if>
		member_auth DESC
	</select>
	
	<select id="selectSearch_auto" parameterType="map" resultType="AccomListCommand">
	SELECT a.*, rownum FROM
		(SELECT 
			acc_name,acc_address1 
		FROM accom 
		<where>
			<if test="search != ''">
			 	 acc_address1 || acc_name LIKE '%' || #{search} || '%'
			</if>
		</where>
		)a
		       		 <![CDATA[
       		 WHERE rownum >= 1 AND rownum <= 5
       		 	]]>
	</select>	
	
		<select id="selectSearch_count" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM(
		SELECT 
			acc_name,acc_address1 
		FROM accom 
		<where>
			<if test="search != ''">
			 	 acc_address1 || acc_name LIKE '%' || #{search} || '%'
			</if>
		</where>
		)
	</select>	

</mapper>
