<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.reservation.dao.ReservationMapper">
	<insert id="insertPayment" parameterType="paymentCommand">
		INSERT INTO payment (rv_num,pm_name,pm_email, pm_type, 
		<if test="pm_type == 'c'">
		pm_cardNum, pm_cvc,pm_validity) 
		</if>
		<if test="pm_type == 'b'">
		pm_depositor,pm_deposit_ac)
		</if>
		VALUES (rv_seq.currval,#{pm_name},#{pm_email},#{pm_type},
		<if test="pm_type == 'c'">
		#{pm_cardNum}, #{pm_cvc},#{pm_validity}) 
		</if>
		<if test="pm_type == 'b'">
		#{pm_depositor},#{pm_deposit_ac})
		</if>
	</insert>
	
	<select id="selectReservationGroup" parameterType="map" resultType="integer">
		SELECT 
		<if test="status == 0">
		COUNT(*) cnt  
		</if>
		<if test="status == 1">
		g_num 
		</if>
		FROM group_table WHERE g_name = #{g_name}
	</select>

	<select id="selectRerservationAcc" parameterType="map" resultType="ReservationCommand">
		SELECT * FROM (SELECT acc_num,acc_host,acc_name, acc_address1, acc_address2,acc_in, acc_out, acc_num anum FROM accom ) a 
		join (SELECT se_name,se_acc_num FROM accom_service ) s on a.acc_num = s.se_acc_num 
		join (SELECT ro_num,ro_room_num,ro_acc_num, ro_sub,ro_price FROM accom_Room) o on s.se_acc_num = o.ro_acc_num 
		<if test="reCount>0">
		join (SELECT avg(ag_grade) ag_grade,ag_acc_num FROM accom_grade group by ag_acc_num) g on o.ro_acc_num  = g.ag_acc_num 
		</if>
		WHERE a.acc_num = #{acc_num} AND o.ro_num=#{ro_num}
	</select>

</mapper>
