@charset "UTF-8";
.align-center {
    text-align: center;
}
.underline {
    padding-bottom: 1rem;
}
.underline .line {
    width: 5rem;
    height: 3px;
    background: #d900ed;
    display: inline-block;
}
.card {
	background-color: transparent;
    border: none;
    padding-bottom: 2rem;
}
.card-us {
	background-color: transparent;
    border: none;
    padding-bottom: 2rem;
}
.card-us p {
    margin: initial;
    padding-bottom: 1rem;
    text-align: left;
}
.card-us i {
    font-size: 3rem;
    color: #46004c;
    padding-right: 1rem;
    padding-bottom: 1rem;
    transition: color 0.4s;
}
.card-us:hover i {
    color: #d900ed;
}
.section-sepa1 {
	padding-top: 75px;
    padding-bottom: 75px;
}
.section-sepa2 {
	padding-top: 75px;
    padding-bottom: 75px;
    background-color: #222222;
    color: #fff;
}

/*accomList 페이지 CSS*/
#opener2{
	border:none;
	vertical-align: middle;
	background-color:inherit;
	cursor:pointer;
}

.je_form_row input[type=text]{
	color: darkgray;
	padding-left: 10px;
	border-width: 1px;
    border-style: solid !important;
    border-radius: 2px;
    background-color: #ffffff !important;
    border-color: #ccc;
}

.date_in {
	border-right: 0px solid transparent !important;
	border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.date_out{
	border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

@media ( max-width :766px ) {
	#rvSearch input[type="text"] {
		width: 100% !important;
		text-align: center;
	}
	#plus_minus {
		padding-left: 33.333333% !important;
	}
	#search_btn {
		text-align: center;
	}
}

.crying, .crying a {
	text-decoration:none !important;
	color:black;
}

.crying:hover, .crying a:hover {
	color: #d90feb;
}