@charset "UTF-8";
/* Map Close Button */
.closer {
    float: right;
    font-size: 45px;
    color: #46004c;
    line-height: 1;
    cursor: pointer;
}

.closer:hover {
    color: #d900ed;
    text-decoration: none;
    opacity: .75;
}

/* Map Search Form */
.fa-search{
	font-size:17px;
	position:absolute;
	margin:3px 10px;
}
.fa-close{
	font-size:17px;
	position:absolute;
	margin-top:4px;
	margin-left:-25px;
	cursor:pointer;
}
.fa-close:hover{
	color:#d900ed;
}
.arrow_box a:hover{
	color:#d900ed;
}