@charset "UTF-8";
/* 내비게이션 */
#mainNav {
	transition:transform .35s ease-in-out;
}

.hidden {
	transform:translateY(-100%);
}

#mainNav .fa-font {
	font-size:51px;
	color:#d900ed;
}

#mainNav span {
	font-size:32px;
	color:#d900ed;
	weight:bold;
}

#mainNav button {
	color: #d900ed;
	font-size: 30px;
	border: none;
}

#navbarResponsive {
	color:#222222;
	font-weight:bold;
}

#navbarResponsive li:hover {
  background-color: trasparent;
  color: black;
}

/* 검색폼에 툴팁 */
[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

 	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  	color: #FFFFFF;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 120px;
	max-width: 300px;
	word-wrap: break-word;
	z-index: 20000;
	opacity: 0;
	left: -9999px;
  	top: 90%;
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	top: 130%;
	left: 0;
	opacity: 1;
}

/* Map Close Button */
.closer {
    float: right;
    font-size: 45px;
    color: #46004c;
    line-height: 1;
    cursor: pointer;
}

.closer:hover {
    color: #d900ed;
    text-decoration: none;
    opacity: .75;
}

/* Map Search Form */
.fa-search{
	font-size:17px;
	position:absolute;
	margin:3px 10px;
}
.fa-close{
	font-size:17px;
	position:absolute;
	margin-top:4px;
	margin-left:-25px;
	cursor:pointer;
}
.fa-close:hover{
	color:#d900ed;
}
.arrow_box a:hover{
	color:#d900ed;
}

/*성원이 예약 설정 부분*/
#search_form_h select {
	padding-left: 10px;
	border-width: 1px;
    border-style: solid !important;
    border-radius: 2px;
    background-color: #ffffff !important;
    border-color: #ccc;
}

.date_in_h {
	border-right: 0px solid transparent !important;
	border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.date_out_h {
	border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/*인원수 체크 버튼*/
#people_minus_h, #people_h, #people_plus_h {
	background-color: white;
	float:left;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0F1721;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#people_minus_h{
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

#people_h{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#people_plus_h{
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

#people_minus_h:disabled{
	color: lightgray;
}

#people_plus_h:disabled{
	color: lightgray;
}

@media ( max-width :766px ) {
	#rv_h input[type="text"] {
		width: 100% !important;
		margin: 0 5px !important;
	}
	#rv_h select {
		width: 100% !important;
		margin: 0 5px !important;
	}
	#plus_minus_h {
		padding-left: 33.333333% !important;
	}
	#search_btn_h {
		text-align: center;
	}
	#rv_h{
		display:none;
	}
}