@charset "UTF-8";

.container {
  width: 100%;
}

.profile {
	background: #D8D8D8 !important;
    border-radius: 50% !important;
    border: 2px solid #ffffff !important;
    overflow: hidden !important;
}

.hotelLink_main, .houseLink_main{
	
}

.hotelLink_main:hover{
	color: #D900ED;
	background-color: #fff;
    border-color: #D900ED;
}

.houseLink_main:hover{
	color: #D900ED;
	background-color: #fff;
    border-color: #D900ED;
}

/*메인 페이지 검색폼*/
#form_row{
	background-color: rgb(255,255,255) !important;
    padding: 20px !important;
    border-radius: 2px !important;
}

#search_form label{
	display: block !important;
	text-align:left;
}

.other_lable{
	color: #0F1721;
	font-weight: bold;
}

#search_form input[type=text]{
	height:46px;
	color: #484848 !important;
	padding: 0 0 0 10px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 2px !important;
    background-color: #ffffff !important;
    border-color: #ccc !important;
}

/*라디오 체크 박스 CSS*/
/**
 * Hide those ugly radio boxes
 */
#form_row input[type=radio]{
  display: none;
}

/**
 * How it should look when hovered
 */
.active-.radio_label, input:checked + .radio_label {
  color: #FFC107;
}
.active-.radio_label:before, input:checked + .radio_label:before {
  background: white;
  border-color: #FFC107;
}
.active-.radio_label, .radio_label:focus, .radio_label:hover, .radio_label:active + .radio_label {
  color: #0F1721;
}
.active-.radio_label:before, .radio_label:focus:before, .radio_label:hover:before, .radio_label:active:before, input:checked + .radio_label:before {
  background: white;
  border-color: #0F1721;
}

/**
 * Make those .radio_labels sexy
 */
.radio_label {
  font-size: 1rem;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
  cursor: pointer;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;
  /**
   * This is the radio fake dot basically
   */
}
.radio_label:first-of-type {
  border: 0;
}
.radio_label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: .2rem solid #ccc;
}

/**
 * How it should look when checked
 */
input:checked + .radio_label:before {
  border-color: white;
  border: none;
  background: #FFC107;
}

/*인원수 체크 버튼*/
#people_minus, #people, #people_plus {
	background-color: white;
	float:left;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0F1721;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#people_minus{
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

#people{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#people_plus{
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

#people_minus:disabled{
	color: lightgray;
}

#people_plus:disabled{
	color: lightgray;
}

/*위치 검색 버튼*/
#search{
	color: #0F1721;
}

#search:hover{
	color: #fff;
	background-color: #0F1721;
    border-color: #0F1721;
}